<?xml version="1.0" encoding="utf-8"?>
<PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:app="http://schemas.android.com/apk/res-auto">
	<MultiSelectListPreference
		android:defaultValue="@array/categories_values"
		android:entries="@array/categories"
		android:entryValues="@array/categories_values"
		android:key="selected_categories"
		android:title="@string/settings_monitor_list_title"
		android:summary="@string/settings_monitor_list_summary"
		app:iconSpaceReserved="false" />
	<SwitchPreferenceCompat
		android:key="unlock_monitor_type"
		android:title="@string/settings_unlocks_monitor_type_title"
		android:summaryOff="@string/settings_unlocks_monitor_type_summary_off"
		android:summaryOn="@string/settings_unlocks_monitor_type_summary_on"
		android:defaultValue="true"
		app:iconSpaceReserved="false" />

	<SwitchPreference
		android:key="summary_type"
		android:title="@string/settings_preference_summary"
		android:summaryOff="@string/settings_unlocks_monitor_type_summary_off"
		android:summaryOn="@string/settings_unlocks_monitor_type_summary_on"
		android:defaultValue="false"
		app:iconSpaceReserved="false" />
	
	<Preference
		android:title="@string/settings_preference_export"
		android:key="export_settings"
		app:iconSpaceReserved="false" />
	<Preference
		android:title="@string/settings_preference_import"
		android:key="import_settings"
		app:iconSpaceReserved="false" />
	<Preference
		android:title="@string/settings_app_info_title"
		android:key="app_info"
		app:iconSpaceReserved="false" />
</PreferenceScreen>